*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
    width: 100vw;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.hamburger-menu{
    display: flex;
    justify-content: center;
}

.routes{
    display: flex;
    justify-content: center;
}

.nav-routes{
    font-size: 14px;
    font-family: "Ruda", Arial, Helvetica, sans-serif;
}

.socials{
    display: flex;
    justify-content: space-around;
    width: 100px;
    /* margin-right: 50px;  */
}

.banner{
    background-image: url(Assets/pizza1.png);
    background-size: cover;
    /* background-position: center; */
    height: 500px;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5% 0px 5%;
}

.slogan{
    font-family: "Quattrocento", Arial, Helvetica, sans-serif;
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    width: 370px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px  #000000;
}

.red{
    background-color: #F24C4C;
    height: 7px;
    width: 35%;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px  #000000;
    
}

.intro{
    font-family: "Ruda", Arial, Helvetica, sans-serif;
    width: 40%;
    text-shadow: 2px 2px 5px  #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
}

.titles{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "Quattrocento", Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.heading{
    text-align: center;
    line-height: 38px;
    border-bottom: 5px solid #F24C4C;
    width: 200px;
}

/* .about-us-info{
    color: #ffffff;

} */

.about-us-content{
    width: 100%;
    padding: 40px 5% 0px 5%;
    display: flex;
    flex-wrap: wrap;
    /* min-width: 375px; */
}

.red-top-line{
    width: 80%;
    height: 5px;
    background-color: #F24C4C;
    margin-bottom: 10px;
}

.description{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    font-family: "Ruda", Arial, Helvetica, sans-serif;
}

.about-us-left{
    width: 45%;
    margin-right: 10%;
}

.about-us-right{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-image{
    width: 100%;
}

/* Menu Section styling */

.menu{
    width: 100%;
    padding: 20px 5% 0px 5%;
    }

.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-width: 360px;
}

.menu-right, .menu-left{
    width: 50%;
    min-width: 340px;
}

.menu-description {
    padding-top: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #ffffff;
    font-family: "Ruda", Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.item1 {
    width: 90%;
    min-width: 375px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.dish-heading{
    color: #F2C94C;
}

.dish-desc{
    color: #ffffff;
}
.dish-image{
    margin-left: 20px;
}

/* carousel styling */

.carousel-section{
    padding: 0px 5% 30px 5%;
}

.carousel{
    margin-top: 30px;
}

.carousel-inner img {
    height: 80vh; 
    object-fit: cover;
  }

.carousel-image{
    height: 500px
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

/* Grid section CSS */
/* Main Grid Section */
.gallery {
    padding: 0px 5%;
}

.grid-section {
    width: 100%;
    background-color: #000000;
    padding: 30px 5%;
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: repeat(6, 100px);
    gap: 10px; /* Consistent spacing */
}

/* Image Styling */
.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Individual Image Placement */
#image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

#image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#image3 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

#image4 {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

#image5 {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

#image6 {
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}


/* Find Us Section */

.find-us-section{
    padding: 0 5%;
}

.find-us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.find-us-left{
    width : 50%;
    min-width: 375px;
}

.find-us-right{
    width : 50%;
    min-width: 375px;
}

.location-text{
    width: 100%;
    padding: 10px 50px 10px 10px;
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 20px;
}

.address{
    color: #ffffff;
    font-size: 20px;
}

.icons1{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.icons2{
    display: flex;
    align-items: center;
}

.img-location{
    width: 100%;
    height: 350px;
}

.group{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.group-image-div{
    margin-top: 40px;
}

.fa-envelope{
    padding: 0px 5px 0px 7px;
}

.phone-number, .email-text{
    width: 100%;
    padding: 10px 50px 10px 10px;
    color: #ffffff;
    font-size: 20px;
}

.icons3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {

    .slogan {
        font-family: "Quattrocento", Arial, Helvetica, sans-serif;
        font-size: 42px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 30px;
        text-shadow: 2px 2px 5px #000000;
    }

    .intro {
        font-family: "Ruda", Arial, Helvetica, sans-serif;
        width: 60%;
        text-shadow: 2px 2px 1px #000000;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        color: #ffffff;
    }

    .description {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: #ffffff;
        font-family: "Ruda", Arial, Helvetica, sans-serif;
    }

    .menu-description {
        padding-top: 15px;
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        color: #ffffff;
        font-family: "Ruda", Arial, Helvetica, sans-serif;
        margin-bottom: 30px;
    }

    .grid-section {
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: auto; /* Automatically adjust rows */
    }

    #image1 {
        grid-column: 1 / 3; /* Full width across two columns */
        grid-row: auto;
    }

    #image2, #image3, #image4, #image5, #image6 {
        grid-column: span 1; /* Occupy one column each */
    }

    .item1 {
        width: 100%;
        min-width: 375px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .dish-image {
        margin-left: 20px;
        width: 50%;
    }

    .dish-heading {
        color: #F2C94C;
        font-size: 16px;
        width: 90%;
    }

    .dish-desc {
        color: #ffffff;
        font-size: 13px;
        width: 90%;
        margin-bottom: 0px;
    }
}


@media screen and (max-width: 768px) {

    .red-top-line {
        display: none;
    }

    .about-us-content {
        width: 100%;
        padding: 40px 5% 0px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-us-left {
        width: 100%;
        margin-right: 0px;
    }

    .description {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: #ffffff;
        font-family: "Ruda", Arial, Helvetica, sans-serif;
        text-align: center;
        margin-bottom: 30px;
    }

    .grid-section {
        grid-template-columns: 1fr; /* Single column */
        grid-template-rows: auto; /* Adjust rows dynamically */
    }

    #image1, #image2, #image3, #image4, #image5, #image6 {
        grid-column: 1; /* Full width in a single column */
        grid-row: auto; /* Stack images vertically */
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        min-width: 360px;
    }

    .menu-right, .menu-left {
        width: 100%;
        min-width: 340px;
    }

    .dish-heading {
        color: #F2C94C;
        font-size: 24px;
        width: 100%;
        padding-bottom: 10px;
    }

    .dish-desc {
        color: #ffffff;
        font-size: 16px;
        width: 100%;
        margin-bottom: 0px;
    }

    .item1 {
        width: 100%;
        min-width: 375px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        justify-content: center;
    }

    .find-us {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 100%;
        align-items: center;
    }

    .find-us-left {
        width: 100%;
        min-width: 375px;
        text-align: center;
    }

    .icons1 {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        justify-content: center;
    }

    .icons2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .address {
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .img-location {
        width: 95%;
        height: 240px;
    }

    .location-text {
        width: 100%;
        padding: 0px 0px 0px 0px;
        color: #ffffff;
        margin-bottom: 50px;
        font-size: 20px;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }
}

@media screen and (max-width: 500px){
    
    .slogan {
        font-family: "Quattrocento", Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        width: 370px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 5px #000000;
    }

    .intro {
        font-family: "Ruda", Arial, Helvetica, sans-serif;
        width: 90%;
        text-shadow: 2px 2px 2px #000000;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: #ffffff;
    }

    .heading {
        text-align: center;
        line-height: 38px;
        border-bottom: 5px solid #F24C4C;
        width: 200px;
        font-size: 34px;
    }

    .red {
        background-color: #F24C4C;
        height: 7px;
        width: 75%;
        margin-bottom: 30px;
        box-shadow: 2px 2px 5px #000000;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    .about-us-content {
        width: 100%;
        padding: 40px 5% 0px 5%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        /* min-width: 375px; */
        align-items: center;
    }

    .about-us-image {
        width: 100%;
        margin-bottom: 30px;
    }

    .about-us-left {
        width: 90%;
        margin-right: 0%;
        text-align: center;
    }

    .red-top-line {
        width: 100%;
        height: 5px;
        background-color: #F24C4C;
        margin-bottom: 10px;
    }

    .description {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #ffffff;
        font-family: "Ruda", Arial, Helvetica, sans-serif;
    }

    .titles {
        color: #ffffff;
        display: flex;
        justify-content: center;
        font-family: "Quattrocento", Arial, Helvetica, sans-serif;
        margin-top: 30px;
    }

    .menu {
        width: 100%;
        padding: 0px 5% 0px 5%;
    }

    .menu-description {
        padding-top: 30px;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: #ffffff;
        font-family: "Ruda", Arial, Helvetica, sans-serif;
        text-align: center;
        margin-bottom: 30px;
    }

    .menu-right, .menu-left {
        width: 100%;
        min-width: 340px;
    }

    .dish-image {
        text-align: center;
        margin-left: 0px;
        width: 100%;
    }

    .dish-heading {
        color: #F2C94C;
        font-size: 26px;
        width: 100%;
    }

    .dish-desc {
        color: #ffffff;
        font-size: 22px;
        overflow-x: hidden;
        width: 100%;
    }

    .grid-pizza-img{
        margin-bottom: 20px;
    }

    .item1 {
        width: 100%;
        min-width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-image{
        margin-bottom: 20px;
    }

    .grid-section {
        width: 100%;
        background-color: #000000;
        padding: 30px 0px 0px;
        display: flex;
        flex-direction: column;
        grid-template-columns: 50% 1fr 1fr;
        grid-template-rows: repeat(6, 100px);
    }

    .icons2 {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 375px){
    .hamburger-menu {
        height: 40px !important;
        width: 45px !important;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    .slogan {
        font-family: "Quattrocento", Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        width: 360px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 5px #000000;
    }

    .dish-image {
        margin-left: 20px;
        width: 100%;
    }

    .carousel-inner img {
        height: 60vh;
        object-fit: cover;
    }

    .location-text {
        width: 100%;
        padding: 0px 10px 10px 10px;
        color: #ffffff;
        margin-bottom: 50px;
        font-size: 20px;
    }

    .dish-heading {
        color: #F2C94C;
        font-size: 16px;
        width: 90%;
    }

    .dish-desc {
        color: #ffffff;
        font-size: 16px;
        overflow-x: hidden;
    }
}